/* palette de couleur

rgb(103, 28, 28) Rouge
rgb(67, 112, 21) Kaki/vert
khaki; Beige
rgb(0, 125, 156) Bleu*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
    font-family: 'Chivo Mono', monospace;
    list-style: none;
}
html{
    height: 100%;
}
::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(255, 0, 242),rgb(0, 26, 255));
    border-radius: 10px;
}
body{
    display: flex;
    height: 100%;
    background: rgb(20, 20, 20);
}

/* NAV BAR */

nav{
    z-index: 4;
    display: flex;
    height: 75px;
    width: 100%;
    position: fixed;
    justify-content: center;

    padding: 15px 25px;
    background-color: rgb(23, 23, 23);
    box-shadow: inset 0px -1px 0px #fff;
}

nav a{
    justify-content: center;
    margin: 12.5px;

    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    position: relative; 
}
nav:hover a{
    position: relative;
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
}
nav a::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background-color: aliceblue;
    transition: transform 0.3s ease-out;
}
nav a:hover::after{
    transform: scaleX(1);
}
button{
    margin: 12.5px;
    margin-right: 60px;    
}
  .menu{
    margin-top: -10px;  
    
    
    font-size: 16px;
    border-radius: 20px;
    padding: 25px 40px;
    color: rgb(255, 255, 255);
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top:58px;
    min-width: 160px;

    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.4);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f156;
    border-radius: 20px;
}
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }
  
  .dropdown:hover .menu {
    background-color: rgb(20, 20, 20);
  }
  .dropdown-content a::after{
    content: "";
    width: 0%;
}

main{
    display: flex;

    width: 100%;
}
aside{
    margin-top: 75px;
    width: 40%;
}
.NewMess{
    display: flex;
    justify-content: baseline;
    height:75px;
    max-width: 100%;
    overflow-x: scroll;

    border-bottom:2px inset #fff;
    border-right:2px inset #fff;
    background-color: rgb(20, 20, 20);
}
.NewMess li{
    display: flex;
    margin: 20px;
    margin-left: 30px;
    margin-right: 0;
}
.NewMess img{
    width: 40px;
    height: 40px;

    padding: 2px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px;
    background-color: rgb(163, 163, 163);
    animation: colorname 20s infinite;    
}
.NewMess::-webkit-scrollbar{
    display: none;
}
@keyframes colorname {
    0%{
        color: red;
    }
    10%{
        color: rgb(255, 89, 0);
    }
    20%{
        color: rgb(255, 179, 0);
    }
    30%{
        color: rgb(72, 255, 0);
    }
    40%{
        color: rgb(0, 255, 102);
    }
    50%{
        color: rgb(0, 242, 255);
    }
    60%{
        color: rgb(0, 102, 255);
    }
    65%{
        color: rgb(0, 42, 255);
    }
    70%{
        color: rgb(0, 4, 255);
    }
    80%{
        color: rgb(136, 0, 255);
    }
    90%{
        color: rgb(255, 0, 183);
    }
    100%{
        color: red;
    }
}


.Friends{
    display: flex;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;

    border-right: 2px inset #fff;
    border-bottom:2px inset #fff;
    background-color: rgb(20, 20, 20);
}
.Friends li{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.Friends p{
    margin-top: auto;
    width: 290px;

    padding: 13px;
    border-radius: 50px;
    background-color: rgb(24, 24, 24);
    box-shadow: 0px 0px 2px;
    color: #fff;
}
.Friends p:hover{
    background-color: rgb(20, 20, 20);
}




section{
    display: flex;
    flex-direction: column;

    margin-top: 75px;
    width: 100%;
    border-bottom:2px solid rgb(255, 255, 255);
    background-color: rgb(30, 30, 30);     
}

.msg{
    flex-grow: 1;
    display: flex;
    height: 100%;
    overflow-y: scroll;
    flex-wrap: wrap;
}
.msguser p{
    margin: 10px;
    padding: 20px;

    border-radius: 10px 10px 0px 10px;
    background-color: slategray;
}

.msguser{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: end;
}

.msgfriend{
    display: flex;
    width: 100%;
}

.msgfriend p{
    margin: 10px;
    padding: 20px;

    border-radius: 10px 10px 10px 0px;
    background-color: slategray;
}



input{
    top: 100%;
    width: 100%;

    border-radius: 10px;
    outline: none;
    border: none;
    padding: 20px;
    background-color: transparent;
}
input[type="text"]{
    display: flex;
    color: #F1F1F1;
}
input:focus{
    background-color: rgb(40, 40, 40);
}

.input{
    margin: 10px;
    display: flex;
    width: 98,5%;

    border-radius: 10px;
    box-shadow: 0px 0px 2px;
    animation: colorname 20s infinite;  
}
.input button{
    margin: 5px;
    width: 40px;
    font-size: 30px;

    border: none;
    color: #fff;
    background: transparent;

    transition: all 0.1s; 
}
.input button:active{
    scale: 0.90;
}
.input p:hover{
    font-stretch: 5px;
    color: #F1F1F1;
}

@media (max-width:1000px) {
    section{
        height: calc(100% - 75px);
    }
    .NewMess{
        z-index: 2;
        position:absolute;
        width: 100%;
    }
    .Friends{
        z-index: 2;
        overflow-y: scroll;
        width: 100%;
        height: calc(100% - 75px);       
        margin-top: 75px;
    }
    .msg{
        margin-top: 75px;
    }
}
@media (max-width:850px){
    main{
        display: flex;
        flex-direction: column;
    }
    aside{
        width: 100%;
    }
    .NewMess{
        border-right: none;
    }
    .Friends{
        border-right: none;
        height: 100px;
        justify-content: center;
    }
    section, .msg{
        margin: 0;
    }
}